# Control Server:
flask
flask-socketio
pymongo

# Logging
log4mongo

# Our libraries:
git+git://github.com/aesrover/gps3@v0.33.1
git+git://github.com/aesrover/python-aesrdevicelib.git@v1.5
git+git://github.com/aesrover/python-aesrdatabaselib.git

git+git://github.com/luciengaitskell/python-dagu-rs039
